/java/Tarea18/nbproject/private/
/java/Tarea18/build/
/java/Tarea19/nbproject/private/
/java/Tarea19/build/
/java/Tarea20/nbproject/private/
/java/Tarea21/nbproject/private/
/java/Tarea22/nbproject/private/
/java/Tarea20/build/
/java/Tarea21/build/
